@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  position: relative;
  font-family: "Noto Sans TC", sans-serif;
}

body::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  /*background: rgba(0,0,0,0.5);*/
  z-index: -1;
}

a {
  text-decoration: none;
}

header {
  background: #B4ADA5;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 2rem 0;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container nav .logo {
  color: #4F3B32;
  font-size: 1.2rem;
  cursor: pointer;
}

.container .nav-link {
  display: flex;
}

.container .nav-link li {
  list-style: none;
  margin: 0 0.5rem;
}

.container .nav-link li a {
  color: #4F3B32;
  font-size: 1.3rem;
  padding: 0.7rem 1rem;
  display: block;
  border-radius: 10px;
  border-radius: 4px;
}

.container .nav-link li a:hover,
.container .nav-link li a.active {
  background: #A59E8B;
  color: #FFFFFF;
  transition: all 0.3s ease;
}

.content {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.content h2 {
  font-size: 6rem;
  color: #4F3B32;
}

.icon {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

@media(max-width: 768px) {
  .content h2 {
    font-size: 4rem;
    text-align: center;
  }
  .icon {
    display: block;
  }

  .container .nav-link {
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #B4ADA5;
    position: absolute;
    width: 350px;
    height: 60vh;
    top: -800px;
    right: 0;
    z-index: 10;
  }

  .nav-link.active {
    top: 10%;
    transition: all 0.3s ease;
  }
}