@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  position: relative;
  font-family: "Noto Sans TC", sans-serif;
}

body::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  /*background: rgba(0,0,0,0.5);*/
  z-index: -1;
}

a {
  text-decoration: none;
}

header {
  background: #B4ADA5;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 2rem 0;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container nav .logo {
  color: #4F3B32;
  font-size: 1.2rem;
  cursor: pointer;
}

.container nav .logo a:hover {
  color: #4F3B32;
}

.container nav .logo a:visited {
  color: #4F3B32;
}

.container .nav-link {
  display: flex;
}

.container .nav-link li {
  list-style: none;
  margin: 0 0.5rem;
}

.container .nav-link li a {
  color: #4F3B32;
  font-size: 1.3rem;
  padding: 0.7rem 1rem;
  display: block;
  border-radius: 10px;
  border-radius: 4px;
}

.container .nav-link li a:hover,
.container .nav-link li a.active {
  background: #A59E8B;
  color: #FFFFFF;
  transition: all 0.3s ease;
}

.content {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 90%;
  max-width: 1200px;
}

.content h2 {
  font-size: 6rem;
  color: #4F3B32;
}

.content h3 {
  font-size: 3rem;
  color: #4F3B32;
}


.icon {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

@media(max-width: 768px) {
  .content h2 {
    font-size: 4rem;
    text-align: center;
  }
  .icon {
    display: block;
  }

  .container .nav-link {
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #B4ADA5;
    position: absolute;
    width: 350px;
    height: 60vh;
    top: -800px;
    right: 0;
    z-index: 10;
  }

  .nav-link.active {
    top: 10%;
    transition: all 0.3s ease;
  }
}

.bus-stop-container {
  margin: 2rem auto;
  max-width: 100%;
}

.bus-stop {
  margin-bottom: 1rem;
}

.bus-stop:last-child {
  margin-bottom: 0;
}

.stop-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #9D9580;
  border: none;
  border-radius: 6px;
  padding: 0.75rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.stop-header.open{
  border-radius: 6px 6px 0 0;
}

.stop-header:hover {
  background: #8F8673;
}

.stop-header h4 {
  margin: 0;
  padding: 0;
  color: #4F3B32;
  font-size: 1.5rem;
  border: none;
}

.times-list {
  list-style: none;
  padding: 0.75rem 0.5rem 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0;
  border-radius: 0 0 6px 6px;
  background: #B4ADA5;
}

.times-li {
  background: #f5f4f2;
  padding: 0.75rem 1rem;
  border-radius: 4px;
  color: #4F3B32;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.times-li.left {
  background: #deddd9;
}

.time-text {
  text-align: left;
}

.time-countdown {
  text-align: right;
  font-weight: 600;
  color: #4F3B32;
}

@media (max-width: 768px) {
  .bus-stop-container {
    max-width: 100%;
    padding: 0 1rem;
  }
}